

    <header  class="container-fluid mb-3  bg-dark">
      <nav class="navbar navbar-expand-lg d-column d-lg-none bg-dark ">
        <div class="d-flex col">
            <%= link_to root_path, class: "navbar-item" do%>
          <h1 class="title is-5 text-white ">MEMBERS ONLY</h1>
            <% end %>
        </div>

        <button class="navbar-toggler text-white " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon burger">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ">
                <li class="nav-item ">
              <a class="nav-link" >
                  <%= link_to "New Post", root_path, class: "text-white"%>
              </a>
            </li>
             <% if user_signed_in? %>
            <li class="nav-item ">
              <a class="nav-link" >
                <%= link_to current_user.name, edit_user_registration_path, class: "text-white" %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white" %>
              </a>
            </li>
              <%else%>
            <li class="nav-item">
              <a class="nav-link">
                  <%= link_to 'Sign In', new_user_session_path, class: "text-white" %>
              </a>
            </li>
           <li class="nav-item">
              <a class="nav-link">
                <%= link_to 'Sign Up', new_user_registration_path, class: "text-white" %>   
              </a>
            </li>
             <% end %>

          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg d-none d-lg-flex bg-dark" >
          <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do%>
          <h1 class="title is-5 text-white">MEMBERS ONLY</h1>
      <% end %>
      </div>
          <div id="navbarExample" class="navbar-menu">
      <div class="navbar-end">
      <div class="navbar-item">
          <div class="field is-grouped">
              <p class="control">
                  <%= user_new_post %>
              </p>
              <p class="control">
              <%= current_user_link(current_user.name) %>
              </p>
              <p>
              <%= user_logout %>
              </p>
              <p class= "control">
              <%= user_sign_in %>
              </p>
              <p class= "control">
              <%= user_sign_up %>
              </p>
          </div>
      </div>
   </div>
</div>
</nav>


  </header>
