<div class="column is-half">
    <article class="media box">
        <%= body_gravatar_image_tag %>
        <div class="media-content">
            <%= render_form %>
        </div>
    </article>


<% @posts.each do |post| %>
   <div class="box">
    <article class="media ">

        <div class="media-content">
            <div class="content">
                    <strong><%= body_current_user %></strong><br/>
                    <small><%= body_current_username %></small><br/>
                    <p><%= post.post %></p>
            </div>

    <%= render  partial: "posts/icon" %>

            
        </div>
    </article>
</div>

<%end%>
</div>